#site-title {
    color:purple; 
    font-family: Helvetica; 
    text-align: center;
    font-size: 75px;
  }  
  #article-title {
    color:rgb(49, 77, 7);
    font-family: sans-serif;
    font-size: 50px;
  }
  header p {
    background-color: #91B585; 
    color: black; 
    font-size: 20px;
    text-align: center;
  }
  figure {
    border: 3px solid black;
      padding: 45px;
  }
  figure img {
    max-width: 100%; 
    height: auto; 
  }
  img {
    max-width: 100%; 
    height: auto; 
  }
  .subheading {
    font-size: 30px;
    color:#53820D;
  }
  article p{
    background-color: #ce81ff; 
    color: black;
    font-size: 15px;  
  }
  a{
    font-weight: bold;
    color: black;
    background-color: #ce81ff;
    text-decoration: none;
    }
    ul li a{
      text-decoration: none;
      list-style: none;
      text-align: center;
    }
    ul {
      list-style-type: none;
    }
@media all and (min-width: 376px) {
  ul li a{
    display: flex;
    justify-content: center;
    gap: 30 px;
} }
@media all and (max-width: 376px) {
  div.hide
  {display: none;}
}